<!DOCTYPE html>
<html>
  <head>
    <title>Treeage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<div class = "menu">
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/past_projects'>Past Projects</a>
  <a href='/contact'>Contact</a>

  </div>

  <body>
    <%= yield %>
  </body>
</html>
